# Quantumult X 远端重写片段：内容与 Surge 源配置 §URL Rewrite / §Header Rewrite 一致（QX 原生语法）。
# 在 quantumultx.conf 的 [rewrite_remote] 中引用。

[rewrite_local]
^https?://(www\.)?(g|google)\.cn url 302 https://www.google.com
^(http|https):\/\/(ditu|maps)\.google\.cn url 302 https://maps.google.com
^https?:\/\/(www\.)?taobao\.com\/ url 302 https://taobao.com/
^https?:\/\/(www\.)?jd\.com\/ url 302 https://www.jd.com/
^https?:\/\/(www\.)?mi\.com\/ url 302 https://www.mi.com/
^https?:\/\/you\.163\.com\/ url 302 https://you.163.com/
^https?:\/\/(www\.)?suning\.com\/ url 302 https://suning.com/
^https?:\/\/(www\.)?yhd\.com\/ url 302 https://yhd.com/
^https?:\/\/api\.abema\.io\/v\d\/ip\/check url reject
^https:\/\/github\.com\/ url request-header (\r\n)Accept-Language:.+(\r\n) request-header $1Accept-Language: en-us$2
^https:\/\/(raw|gist)\.githubusercontent\.com\/ url request-header (\r\n)Accept-Language:.+(\r\n) request-header $1Accept-Language: en-us$2

[mitm]
hostname = g.cn, www.g.cn, google.cn, www.google.cn, ditu.google.cn, maps.google.cn, api.abema.io, github.com, *.githubusercontent.com
